
.body {
  display: flex;
  overflow: hidden;
  margin: 0;
  align-content: center;
  justify-content: center;
  background-color: white;

 

}

.mainbody {
  width: 1400px;
  height: 1000px;
}


.choose{

  width: 1600px;
  margin-left: -700px;
  margin-top: -120px;

}

.gifts{
  
   margin-top: 400px;
  margin-left: -560px;
}

.giftss{
	margin-top: 429px;
  margin-left: -355px;
	
}

.cancel{
	margin-top: 600px;
  margin-left: -900px;

	
}

