
.body {
  display: flex;
  overflow: hidden;
  margin: 0;
  align-content: center;
  justify-content: center;
  background-color: #ef9c3c;

 

}

.mainbody {
  width: 1400px;
  height: 1000px;
}


.choose{
 width: 1600px;
  margin-left: -700px;
  margin-top: -120px;


}

.cancel{
	margin-top: 600px;
  margin-left: -900px;

	
}
